
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

#navbar{

    position: sticky;
    top: 0;
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: #bf0000;
    z-index: 100;
}
#navbar h1{
    font-family: 'Ubuntu', sans-serif;
    padding-left: 7px;
font-size: 1.6rem;
}
#navbar img{
    margin-left: 18px;

   border-radius: 200px;
   width: 40px;
   height: 40px;
}

body{
    margin: 0 ;
    padding: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    /* height: 100vh; */
}
#list{
    display: flex;
    margin: 9px 0;
}

#input{
    width: 60vw;
    display: flex;
    height: 30px;

    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
}
#container{
    font-family: 'Ubuntu', sans-serif;
    top: 5px;
    background-color: rgb(234, 234, 234);
    height: 100vh;
    width: 98vw;
    position: relative;
    padding: 9px 0;
    box-shadow: 0 0 12px black;
    /* padding: 9px 22px; */
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    /* align-items: flex-end; */
    /* overflow-y: scroll; */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    ::-webkit-scrollbar {
        display: none;
      }
}
#container div{
    position: sticky;
    top: 76px;
}
.btn{
    width: 63px;
cursor: pointer;
    border-radius: 23px;
    /* background-color: red; */
    height: 30px;
    margin: 0 4px;
}
#submit{
    font-family: 'Ubuntu', sans-serif;
    position: sticky;
    top: 100px;
    width: 100px;
    /* border: none; */
    border-radius: 23px;
    background-color: #a70000;
    height: 30px;
    margin: 0 4px;
    box-shadow: 0 0 7px black;
    color: white;
}
#submit:hover,
 #submit:active{
 background-color: rgb(101, 1, 1);
}
#clear{
    font-family: 'Ubuntu', sans-serif;
    position: sticky;
    top: 100px;
    width: 100px;
    /* border: none; */
    border-radius: 23px;
    background-color: #ffffff;
    height: 30px;
    margin: 0 4px;
    box-shadow: 0 0 7px black;
    color: rgb(0, 0, 0);
}
#clear:hover,
 #clear:active{
 background-color: rgb(179, 179, 179);
}